USE [master]
GO
/****** Object:  Database [QLSinhVien]    Script Date: 12/28/2021 9:46:46 PM ******/
CREATE DATABASE [QLSinhVien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLSinhVien', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLSinhVien.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLSinhVien_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLSinhVien_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLSinhVien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLSinhVien]
GO
/****** Object:  Table [dbo].[BangDiem]    Script Date: 12/28/2021 9:46:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangDiem](
	[Ma] [int] IDENTITY(1,1) NOT NULL,
	[MaSV] [varchar](20) NOT NULL,
	[LapTrinhC] [float] NOT NULL,
	[Python] [float] NOT NULL,
	[Java] [float] NOT NULL,
 CONSTRAINT [PK_BangDiem] PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 12/28/2021 9:46:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[TenDangNhap] [varchar](20) NOT NULL,
	[MatKhau] [varchar](30) NOT NULL,
	[VaiTro] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NguoiDung] PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QueQuan]    Script Date: 12/28/2021 9:46:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QueQuan](
	[Tinh] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 12/28/2021 9:46:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[MaSV] [varchar](20) NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[SDT] [varchar](30) NULL,
	[GioiTinh] [nvarchar](5) NOT NULL,
	[QueQuan] [nvarchar](50) NULL,
	[Hinh] [image] NULL,
 CONSTRAINT [PK_SinhVien] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BangDiem] ON 

INSERT [dbo].[BangDiem] ([Ma], [MaSV], [LapTrinhC], [Python], [Java]) VALUES (2, N'N19DCCN144', 5, 6, 7)
INSERT [dbo].[BangDiem] ([Ma], [MaSV], [LapTrinhC], [Python], [Java]) VALUES (3, N'N19DCCN056', 7, 8, 9)
INSERT [dbo].[BangDiem] ([Ma], [MaSV], [LapTrinhC], [Python], [Java]) VALUES (10, N'N19DCCN148', 9, 8, 9)
SET IDENTITY_INSERT [dbo].[BangDiem] OFF
GO
INSERT [dbo].[NguoiDung] ([TenDangNhap], [MatKhau], [VaiTro]) VALUES (N'admin', N'123', N'Quản trị viên (Admin)')
INSERT [dbo].[NguoiDung] ([TenDangNhap], [MatKhau], [VaiTro]) VALUES (N'DT', N'456', N'Đào tạo')
INSERT [dbo].[NguoiDung] ([TenDangNhap], [MatKhau], [VaiTro]) VALUES (N'GV', N'000', N'Giảng viên')
GO
INSERT [dbo].[QueQuan] ([Tinh]) VALUES (N'An Giang')
INSERT [dbo].[QueQuan] ([Tinh]) VALUES (N'Bà Rịa – Vũng Tàu')
INSERT [dbo].[QueQuan] ([Tinh]) VALUES (N'Bắc Giang')
GO
INSERT [dbo].[SinhVien] ([MaSV], [HoTen], [Email], [SDT], [GioiTinh], [QueQuan], [Hinh]) VALUES (N'N19DCCN056', N'Phan Văn Hiểu', N'n19dccn055@student.ptithcm.edu.vn', N'0987564124', N'Nam', N'Vĩnh Long', NULL)
INSERT [dbo].[SinhVien] ([MaSV], [HoTen], [Email], [SDT], [GioiTinh], [QueQuan], [Hinh]) VALUES (N'N19DCCN100', N'Trần Minh Long', N'n19dccn100@student.ptithcm.edu.vn', N'0895541218', N'Nam', N'Hà Nam', NULL)
GO
USE [master]
GO
